<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/css/layout.css}" rel="stylesheet" type="text/css"></link>
    <meta charset="ISO-8859-1">
    <title>Index Page</title>
</head>

<body>
    <h1>welcome</h1>
    <a th:href="@{/login}">Log In</a>
</body>

</html>